pyrofork
pyrogram
tgcrypto==1.2.5
requests==2.31.0
python-dotenv==1.0.1
httpx

Flask
gunicorn
Jinja2
werkzeug
itsdangerous
aiohttp

google-genai 
motor
pyrofork
pymongo
pytz


yt-dlp
python-telegram-bot
uvicorn
# Telegram bot
python-telegram-bot

# HTTP requests
requests

# Backend server
fastapi
uvicorn

# Optional (for running on Render / production logging)
python-multipart

hachoir
motor
